<nav>
    <ul>
    {% capture current_page %}{{ site.baseurl }}{{ page.url }}{% endcapture %}
    {% for entry in site.navigation %}
        {% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% unless entry.url == "/" %}.html{% endunless %}{% endcapture %}
        
        {% if fullurl == current_page %}
            <li class="current"><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a><div id="underline"></li>
        {% else %}
            <li><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>